In [1]:
mytuple=("a","b")
print(type(mytuple))

<class 'tuple'>

In [6]:
mytup=tuple(["max",20,True])
print(mytup)
print(type(mytup))
print(mytup[1])

('max', 20, True)
<class 'tuple'>
20

- tuple is immutable

In [7]:
mytup[0]=20
mytup

TypeError: 'tuple' object does not support item assignment

In [8]:
for i in mytup:
    print(i)

max
20
True

In [9]:
if "max" in mytup:
    print("Yes")
else:
    print("No")

Yes

In [10]:
my_tup=('a','b','c','d','e')
print(len(my_tup))

5

In [11]:
print(my_tup.count('b'))

1

In [12]:
print(my_tup.index('c'))

2

In [14]:
new=list(my_tup)
print(new)
print(type(new))

old=tuple(new)
print(old)
print(type(old))

['a', 'b', 'c', 'd', 'e']
<class 'list'>
('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

- slicing

In [15]:
a=(11,12,13,14,15,16,17,18,19,20)
a[2:5]

(13, 14, 15)

In [16]:
a[:6]

(11, 12, 13, 14, 15, 16)

In [17]:
a[1:]

(12, 13, 14, 15, 16, 17, 18, 19, 20)

In [20]:
a[::2]

(11, 13, 15, 17, 19)

In [21]:
a[::-1]

(20, 19, 18, 17, 16, 15, 14, 13, 12, 11)

In [24]:
newt=("max",28,"Boston")
name,age,city=newt
print(age)
print(name)
print(city)

28
max
Boston

In [26]:
net=(0,1,2,3,4)
i1, *i2, i3,i4=net
print(i1)
print(i3)
print(i2)
print(i4)

0
3
[1, 2]
4

In [27]:
net=(0,1,2,3,4)
i1, *i2, i3=net
print(i1)
print(i3)
print(i2)

0
4
[1, 2, 3]

In [28]:
import sys
my_list=[0,1,2,'hello',True]
my_tuple=(0,1,2,'hello',True)
print(sys.getsizeof(my_list),"bytes")
print(sys.getsizeof(my_tuple),"bytes")

104 bytes
80 bytes

In [30]:
import timeit
print(timeit.timeit(stmt='[0,1,2,3,4]',number=1000000))
print(timeit.timeit(stmt='(0,1,2,3,4)',number=1000000))

0.11548270005732775
0.01317739998921752